@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  margin: 0;
}
#home{
    min-height: 100vh;
}
#about{
    min-height: 100vh;
}
#themes{
    min-height: 100vh;
    padding-top: 5em;
}
#band{
    margin-left: 0px;
    margin-right: 0px;
}
#phases{
    min-height: 100vh;
}
#timeline{
    min-height: 100vh;
    padding-top: 5em;
}
#rules{
    min-height: 100vh;
}
#contact{
    min-height: 50vh;
}
#bottom{
    position:relative;
}
.img-circle{
    border-radius: 50%;
    padding:60px;
}

.row {
    position: relative;
    margin-top: 25vh;
    overflow: hidden;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}
.col-lg-3{
    padding:0px;
    margin:0px;
    border:0px;
}
.text-center{
    text-decoration: none;
    text-align: center;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #2B2B52;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.about_hackathon{
    text-align: center;
}

.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle{
    display: table-cell;
    vertical-align: middle;
}

.inner{
    margin-left: auto;
    margin-right: auto;
}

.inner-rules{
    display: flex;
    justify-content: space-around;
    
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
}

.rules {
    display: inline;
    text-align: left;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
    background: #EA7773;
	color: black;
	padding: 40px 0;
}

.outer-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline {
    height: 100vh;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;
}

.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content {
    padding-bottom: 20px;
    border: 1px solid #eee;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #c5c5c5;
    text-align: justify;
}

.timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -11px;
    width: 10px;
    height: 10px;
    background: #c23941;
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);

}

.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -9px;
    width: 10px;
    height: 10px;
    background: #c23941;
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);

}

.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #303e49;
}

.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
    line-height: 1.7;
}
.timeline ul li h4{
     margin: 0;
     padding: 0;
     font-size: 16px;
}

.timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -165px;
    margin-bottom: 0;
    padding: 8px 16px;
    background: #303249;
    color: #c5c5c5;
    border-radius: 18px;
}

.timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -165px;
    margin-bottom: 0;
    padding: 8px 16px;
    background: #303249;
    color: #c5c5c5;
    border-radius: 18px;
}

.list{
    padding-left: 0px;
    padding-right: 0px;
}