#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    color: black;
    text-align: center;
    padding:0px;
    margin:0px;
    border:0px;
  }

#centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#logo-container {
    height:20px;
}

#home {
    width: 100%;
    height: 100vh;
    background: url(Assets/bg1.jpg) top center;
    background-size: cover;
    position: relative;
  }

#contact {
    position: relative;
    width: 100%;
    background-color:darkblue;
    color: white;
    text-align: center;
    padding: 0px;
  }

  #sponsors {
    position: relative;
    width: 100%;
    background-color:white;
    color: darkblue;
    text-align: center;
    padding: 0px;
  }

  #rules {
    position: relative;
    width: 100%;
    height:100vh;
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 0px;
  }

  #phases {
    position: relative;
    width: 100%;
    height:100vh;
    background-color: lightblue ;
    color: black;
    text-align: center;
    padding: 0px;
  }

  #themes {
    position: relative;
    width: 100%;
    height:100vh;
    background-color:white;
    color: black;
    text-align: center;
    padding: 0px;
  }

  #about {
    position: relative;
    width: 100%;
    height:100vh;
    background-color:lightblue;
    color: black;
    text-align: center;
    padding: 0px;
  }

  #timeline {
    position: relative;
    width: 100%;
    height:100vh;
    background-color:white;
    color: black;
    text-align: center;
    padding: 0px;
  }