#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    color: black;
    text-align: center;
  }

#centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#logo-container {
    height:20px;
}

#home {
    width: 100%;
    height: 100vh;
    background: url(Assets/bg1.jpg) top center;
    background-size: cover;
    position: relative;
  }

  #contact {
    position: relative;
    width: 100%;
    background-color: rgb(21, 147, 197);
    color: black;
    text-align: center;
  }